* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1200px) {

/* header */
    header {
        grid-area: header;
        display: flex;
        background-color:lightgrey;
        align-items: center;
        justify-content: space-between;
        padding: 0 15%;
    }

    header ul {
        display: flex;
        list-style: none;
    }

    header ul li {
        margin: 20px;
        font-size: 20px;
        vertical-align: middle;
        text-decoration: none;
        min-width: 50px;
    }

    header ul li a {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        vertical-align: middle;
        text-decoration: none;
    }

    header button {
        display: none;
    }

/* Titulo seccion*/
    .tituloSeccion {
        grid-area: tituloEstudia;
        font-family: 'Roboto', sans-serif;
        font-size: 70px;
        margin-left: 10%;
        margin-top: 2%;
    }

/* index */
    .container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 120px 800px 650px 120px; 
        gap: 10px 0px;
        grid-template-areas: 
            "header header"
            "text1 image1"
            "video text2"
            "footer footer";
        justify-content: center;
    }
    
    .text1 { 
        grid-area: text1;
        display: flex;
        text-align: center;
        justify-content: center;
        align-self: center;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
    }
    
    .image1 { 
        grid-area: image1;
        background-image: url(../imagenes/Leo.jpeg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .text2 { 
        grid-area: text2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .text2 h2 {
        text-align: center;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 50px;
    }
    
    .text2 p {
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        width: 800px;
    }
    
    .video {
        grid-area: video;
        display: flex;
    }

/* Section Estudia Logosofía*/
    .container2 {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px 120px 800px 650px 120px; 
        gap: 10px 0px;
        grid-template-areas: 
            "header header"
            "tituloEstudia tituloEstudia"
            "textoCurso imagenCurso"
            "textoEstudio imagenEstudio"
            "footer footer";
        justify-content: center;
    }

    .textoCurso {
        grid-area: textoCurso;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }

    .textoCurso h3{
        font-size: 45px;
        margin-bottom: 40px;
    }

    .textoCurso p {
        width: 70%
    }

    .imagenCurso {
        grid-area: imagenCurso;
        background-image: url(../imagenes/Leo.jpeg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .textoEstudio {
        grid-area: textoEstudio;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }

    .textoEstudio h3{
        font-size: 45px;
        margin-bottom: 40px;
    }

    .textoEstudio p {
        width: 70%;
    }

    .imagenEstudio {
        grid-area: imagenEstudio;
        background-image: url(../imagenes/Leo.jpeg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

/* footer */
    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        background-color:lightgrey;
    }
}  
    
    /* 
   
    .index {
        display: grid;
        min-width: 100%;
        min-height: 1240px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
        align-items: center;
        justify-items: center;
    }

    .item {
        display: flex;
    }

    .item1 {
        grid-column: 1/2;
        grid-row-end: 1/2;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    .item2 {
        grid-column: 2/3;
        grid-row-end: 1/2;
    }

    .item3 {
        grid-column: 1/2;
        grid-row-end: 2/3;
    }

    .item4 {
        grid-column: 2/3;
        grid-row-end: 2/3;
    }

    .item4 div h2 {
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-bottom: 40px;
    }

    .item4 div p {
        width: 560px;
        font-family: 'Roboto', sans-serif;
    }

    footer {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color:lightgrey;
        justify-content: center;
    }

    footer div {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .tituloSeccion {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        margin-left: 280px;
        margin-bottom: 80px;
    }

    #etapaEstudio1 {
        text-align: center;
        margin-bottom: 100px;
    }

    #etapaEstudio1 div {
        display: inline-block   ;
        text-align: center;
        width: 500px;
        vertical-align: middle;
        margin-right: 100px;
    }

    #etapaEstudio1 div h3{
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        margin-bottom: 40px;
    }

    #etapaEstudio1 img {
        display: inline-block;
        vertical-align: middle;
    }

    #etapaEstudio2 {
        text-align: center;
        margin-bottom: 100px;
    }

    #etapaEstudio2 div {
        display: inline-block   ;
        text-align: center;
        width: 500px;
        vertical-align: middle;
        margin-left: 100px;
    }

    #etapaEstudio2 div h3{
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        margin-bottom: 40px;
    }

    #etapaEstudio2 div p {
        display: inline-block;
        width: 500px;
        vertical-align: middle;
    }

    #etapaEstudio2 img {
        display: inline-block;
        vertical-align: middle;
    }

    .mesActividad {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        margin-left: 280px;
        margin-bottom: 30px;
    }

    .actividadesPorMes {
        text-align: center;
    }

    .elementoListaActividad {
        margin-bottom: 30px;
    }

    .elementoListaActividad div div {
        display: inline-block;
        vertical-align: middle;
        width: 500px;
        margin-left: 100px;
    }

    .elementoListaActividad div img {
        vertical-align: middle;
    }

    .listaVideos {
        text-align: center;
    }

    .listaVideos li {
        display: inline-block;
    }

    .listaVideos li div {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .listaVideos li div p {
        width: 533.34px;
    }

    .listaSedes {
        text-align: center;
    }

    .listaSedes li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 50px;
    }

    .listaSedes li div p {
        width: 300px;
    }

    #formularioContacto {
        text-align: center;
    }

    #formularioContacto h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        margin-bottom: 20px;
    } */
