* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: lightgrey;
}

.banner {
    padding: 30px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 10px;
}

footer ul {
    display: flex;
    align-items: center;
}

footer li {
    list-style: none;
    padding: 15px;
}

a {
    text-decoration: none;
}

.tituloSeccion {
    margin-left: 5%;
    padding: 2%;
}

h2 {
    font-size: 40px;
}

/* index.html - inicio */
@media screen and (min-width: 600px) {
    .text1 h1 {
        text-align: center;
        justify-content: center;
        font-size: 80px
    }

    .img1 {
        height: 700px;
        background-image: url(../imagenes/Leo.jpeg);
        background-position: right;
        background-size: contain; 
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 599px) {
    .text1 h1 {
        text-align: center;
        justify-content: center;
        font-size: 40px
    }
    
    .img1 {
        height: 300px;
        background-image: url(../imagenes/Leo.jpeg);
        background-position: right;
        background-size: contain; 
        background-repeat: no-repeat;
    }

    #sobreNosotros {
        margin-top: 50px;
    }

    #sobreNosotros h2 {
        font-size: 30px;
    }

    #sobreNosotros p {
        font-size: 15px;
    }

    iframe {
        height: 300px;
    }
}
/* index.html - fin */

/* estudiaLogosofia.html - inicio */
.imgCurso {
    height: 540px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.75),rgba(255,255,255,0)),url(../imagenes/Leo.jpeg);
    background-position: right;
    background-size: contain; 
    background-repeat: no-repeat;
}

.imgEstudio {
    height: 540px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.75),rgba(255,255,255,0)),url(../imagenes/Leo.jpeg);
    background-position: right;
    background-size: contain; 
    background-repeat: no-repeat;
}
/* estudiaLogosofia.html - fin */
