* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: lightgrey;
}

.banner {
    padding: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 10px;
}

.tituloSeccion {
    margin-left: 5%;
    padding: 2%;
}

h2 {
    font-size: 40px;
}

/* index.html - inicio */
.text1 h1 {
    text-align: center;
    font-size: 80px
}

.img1 {
    height: 540px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.75),rgba(255,255,255,0)),url(../imagenes/Leo.jpeg);
    background-position: right;
    background-size: contain; 
    background-repeat: no-repeat;
}
/* index.html - fin */

/* estudiaLogosofia.html - inicio */
.imgCurso {
    height: 540px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.75),rgba(255,255,255,0)),url(../imagenes/Leo.jpeg);
    background-position: right;
    background-size: contain; 
    background-repeat: no-repeat;
}

.imgEstudio {
    height: 540px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.75),rgba(255,255,255,0)),url(../imagenes/Leo.jpeg);
    background-position: right;
    background-size: contain; 
    background-repeat: no-repeat;
}
/* estudiaLogosofia.html - fin */
