$mapaVariables: (
    colorFondo:lightgrey,
    imagenLeo: "../imagenes/Leo.jpeg"
);

@mixin backgroundImg($image, $position, $size, $repeat) {
    background-image: $image;
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: map-get($mapaVariables, colorFondo);
}

.banner {
    padding: 30px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: map-get($mapaVariables, colorFondo);
    padding: 5px;
    margin-top: 10px;
    ul {
        display: flex;
        align-items: center;
    }
    li {
        list-style: none;
        padding: 15px;
    }
} 

a {
    text-decoration: none;
}

.tituloSeccion {
    margin-left: 5%;
    padding: 2%;
}

h2 {
    font-size: 40px;
}

/* index.html - inicio */
@media screen and (min-width: 600px) {
    .text1 {
        h1 {
            text-align: center;
            justify-content: center;
            font-size: 80px
        }
    }

    .img1 {
        height: 700px;
        @include backgroundImg(url(map-get($mapaVariables, imagenLeo)), right, contain, no-repeat);
    }
}

@media screen and (max-width: 599px) {
    .text1 {
        h1 {
            text-align: center;
            justify-content: center;
            font-size: 40px
        }
    }
    
    .img1 {
        height: 300px;
        @include backgroundImg(url(map-get($mapaVariables, imagenLeo)), right, contain, no-repeat);
    }

    #sobreNosotros {
        margin-top: 50px;
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 15px;
        }
    }

    iframe {
        height: 300px;
    }
}
/* index.html - fin */

/* estudiaLogosofia.html - inicio */
.imgCurso {
    height: 540px;
    @include backgroundImg(url(map-get($mapaVariables, imagenLeo)), right, contain, no-repeat);
    background-image: linear-gradient(to right, rgba(255,255,255,0.75),rgba(255,255,255,0)),url(map-get($mapaVariables, imagenLeo));
    
}

.imgEstudio {
    @extend .imgCurso;
    background-image: linear-gradient(to right, rgba(255,255,255,0.75),rgba(255,255,255,0)),url(map-get($mapaVariables, imagenLeo));
}

/* estudiaLogosofia.html - fin */
